<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Cool Web Application</a>
    </div>

    <!-- Display all links based on the registered routes -->
    <div class="collapse navbar-collapse" [collapse]=isCollapsed>
      <ul class="nav navbar-nav">
        <ng-container *ngFor="let m of router.config">
          <li routerLinkActive="active" *ngIf="m.path && m.path.indexOf(':')<0">
            <a routerLink="{{m.path}}">{{m.path}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
