<table class="table table-bordered table-responsive table-condensed">
    
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let map of columnMaps">{{map.caption}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records.items">
            <td>
                <span *ngFor="let b of rowButtons">
                    <button class="btn" *ngIf="b.visible(record)" (click)="b.click(record)">{{b.name}}</button>
                </span>
            </td>
            <td *ngFor="let map of columnMaps">
                <span *ngIf="!_getEditable(map)">{{_getColValue(map,record)}}</span>
                <input *ngIf="_getEditable(map)" class="form-control" [(ngModel)]="record[map.key]" />
            </td>
        </tr>
    </tbody>
</table>
<button class="btn" *ngIf="settings.editable" (click)="records.add()">Add</button>